In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [8]:
x=dataset[['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [19]:
geo=dataset["Geography"]

In [22]:
geo=pd.get_dummies(geo,drop_first=True)

In [23]:
gender=dataset["Gender"]

In [24]:
gender=pd.get_dummies(gender,drop_first=True)

In [27]:
noofProducts=dataset["NumOfProducts"]

In [28]:
noofProducts=pd.get_dummies(noofProducts,drop_first=True)

In [29]:
hasCard=dataset["HasCrCard"]

In [30]:
hasCard=pd.get_dummies(hasCard,drop_first=True)

In [31]:
active=dataset["IsActiveMember"]

In [32]:
active=pd.get_dummies(active,drop_first=True)

In [36]:
x.drop(["Surname","Geography","Gender","NumOfProducts","HasCrCard","CustomerId"],axis=1,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_18580\2955666446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(["Surname","Geography","Gender","NumOfProducts","HasCrCard","CustomerId"],axis=1,inplace=True)

In [38]:
x.drop("IsActiveMember",axis=1,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_18580\2056848285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop("IsActiveMember",axis=1,inplace=True)

In [39]:
x

      CreditScore  Age  Tenure    Balance  EstimatedSalary
0             619   42       2       0.00        101348.88
1             608   41       1   83807.86        112542.58
2             502   42       8  159660.80        113931.57
3             699   39       1       0.00         93826.63
4             850   43       2  125510.82         79084.10
...           ...  ...     ...        ...              ...
9995          771   39       5       0.00         96270.64
9996          516   35      10   57369.61        101699.77
9997          709   36       7       0.00         42085.58
9998          772   42       3   75075.31         92888.52
9999          792   28       4  130142.79         38190.78

[10000 rows x 5 columns]

In [10]:
y=dataset[['Exited']]

In [40]:
x=pd.concat([x,geo,gender,noofProducts,hasCard,active],axis=1)

In [41]:
x

,CreditScore,Age,Tenure,Balance,EstimatedSalary,Germany,Spain,Male,2,3,4,1,1
0,619,42,2,0.00,101348.88,0,0,0,0,0,0,1,1
1,608,41,1,83807.86,112542.58,0,1,0,0,0,0,0,1
2,502,42,8,159660.80,113931.57,0,0,0,0,1,0,1,0
3,699,39,1,0.00,93826.63,0,0,0,1,0,0,0,0
4,850,43,2,125510.82,79084.10,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,96270.64,0,0,1,1,0,0,1,0
9996,516,35,10,57369.61,101699.77,0,0,1,0,0,0,1,1
9997,709,36,7,0.00,42085.58,0,0,0,0,0,0,0,1
9998,772,42,3,75075.31,92888.52,1,0,1,1,0,0,1,0
9999,792,28,4,130142.79,38190.78,0,0,0,0,0,0,1,0

In [11]:
y

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [14]:
from keras.models import Sequential

In [57]:
model=Sequential()

In [58]:
model.get_config()

{'name': 'sequential_1', 'layers': []}

In [59]:
from keras.layers import Dense

In [60]:
# layer 1

model.add(
        Dense(
            units=6,
            input_dim=13,
            bias_initializer="zeros",
            kernel_initializer="zeros",
            activation="relu",
             )
         )

In [61]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 13),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_3_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': 'float32',
    'batch_input_shape': (None, 13),
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [62]:
13*6+6

84

model

In [48]:
model

In [63]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 84

=================================================================
Total params: 84
Trainable params: 84
Non-trainable params: 0
_________________________________________________________________

In [64]:
# layer 2

model.add(
        Dense(
            units=7,
            bias_initializer="zeros",
            kernel_initializer="zeros",
            activation="relu",
             )
         )

In [65]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 84

 dense_4 (Dense)             (None, 7)                 49

=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [66]:
# layer 3

model.add(
        Dense(
            units=5,
            bias_initializer="zeros",
            kernel_initializer="zeros",
            activation="relu",
             )
         )

In [67]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 84

 dense_4 (Dense)             (None, 7)                 49

 dense_5 (Dense)             (None, 5)                 40

=================================================================
Total params: 173
Trainable params: 173
Non-trainable params: 0
_________________________________________________________________

In [68]:
# layer 4

model.add(
        Dense(
            units=1,
            bias_initializer="zeros",
            kernel_initializer="zeros",
            activation="sigmoid",
             )
         )

In [69]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 84

 dense_4 (Dense)             (None, 7)                 49

 dense_5 (Dense)             (None, 5)                 40

 dense_6 (Dense)             (None, 1)                 6

=================================================================
Total params: 179
Trainable params: 179
Non-trainable params: 0
_________________________________________________________________

In [70]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 13),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_3_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': 'float32',
    'batch_input_shape': (None, 13),
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_4',
    'trainable': True,
    'dtype': 'float32',
    'units': 7,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_5',
    'trainable': True,
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_6',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [72]:
model.compile(loss="binary_crossentropy")

In [74]:
model.get_weights()

[array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[0.],
        [0.],
        [0.],
        [0.],
        [0.]], dtype=float32),
 array([-0.3098537], dtype=float32)]

In [76]:
model.fit(x,y,epochs=8)

Epoch 1/8
313/313 [==============================] - 2s 5ms/step - loss: 0.5055
Epoch 2/8
313/313 [==============================] - 1s 5ms/step - loss: 0.5055
Epoch 3/8
313/313 [==============================] - 1s 5ms/step - loss: 0.5055
Epoch 4/8
313/313 [==============================] - 1s 5ms/step - loss: 0.5055
Epoch 5/8
313/313 [==============================] - 2s 5ms/step - loss: 0.5055
Epoch 6/8
313/313 [==============================] - 2s 5ms/step - loss: 0.5055
Epoch 7/8
313/313 [==============================] - 2s 5ms/step - loss: 0.5055
Epoch 8/8
313/313 [==============================] - 2s 5ms/step - loss: 0.5055

In [77]:
model.get_weights(
)

[array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[0.],
        [0.],
        [0.],
        [0.],
        [0.]], dtype=float32),
 array([-1.3681008], dtype=float32)]