In [ ]:
import numpy as np

In [ ]:
array=np.array([['Dhanush',9832423423,'Jaipur'],['Nandini',9932432433,'Jaipur'],['Muditt',9382342343,'Dehradun'],['Niranjan',9324392343,'Ponda']])

In [ ]:
array

In [ ]:
import pandas as pd

In [ ]:
table=pd.DataFrame(array, columns = ['Name','Phone','City'])

In [ ]:
table

In [ ]:
table['Phone']

In [ ]:
array

In [ ]:
for i in range(4):
    for j in range(3):
        if j==1:
            print(array[i][j])

In [ ]:
i=0
while i<4:
    j=0
    while j<3: 
        if j==1:
            print(array[i][j])
        j=j+1
    i=i+1

In [ ]:
len(array)

In [ ]:
len(array[0])

In [ ]:
i=0
while i<len(array):
    j=0
    while j<len(array[0]):
        if j==1:
            print(array[i][j])
        j=j+1
    i=i+1

In [ ]:
class StudentRecord:
    name=None
    mobile_number=None
    city=None
    def __init__(self,name,mobile_number,city):
        self.name=name
        self.mobile_number=mobile_number
        self.city=city

In [ ]:
Student=StudentRecord("Niranjan",8932432422,"Ponda")

In [ ]:
Student.__dict__

In [ ]:
Niranjan=StudentRecord('Niranjan',9324392343,'Ponda')

In [ ]:
Dhanush=StudentRecord('Dhanush',9832423423,'Jaipur')

In [ ]:
Nandini=StudentRecord('Nandini',9932432433,'Jaipur')

In [ ]:
Muditt=StudentRecord('Muditt',9382342343,'Dehradun')

In [ ]:
print(Niranjan.__dict__,Dhanush.__dict__,Nandini.__dict__,Muditt.__dict__)

In [ ]:

l=[]
for i in range(len(array)):
   l.append(StudentRecord(array[i][0],array[i][1],array[i][2]))
for i in range(len(l)):
    print(l[i].__dict__)

In [ ]:
import cv2

In [ ]:
cam=cv2.VideoCapture(0)

In [ ]:
status,photo=cam.read()

In [ ]:
status

In [ ]:
cv2.imwrite("niranjan.png",photo)

In [ ]:
cv2.imshow("niranjan",photo)
cv2.waitKey()

In [ ]:
cam.release()

In [1]:
import cv2

In [2]:
cap = cv2.VideoCapture(0)

In [ ]:
while True:
    status , photo = cap.read()
    newphoto = photo[:,200:450]
    cv2.imshow('myphoto',newphoto)
    if cv2.waitKey(100)==13:
        break

In [41]:
import numpy as np

In [42]:
import pandas as pd

In [43]:
dataset=pd.read_csv("StudentsData.csv")

In [44]:
dataset

         Name  Age      Passion  Rating  HoursSpent     Y
0    Samridhi   19      dancing       8         0.0   0.0
1        Aman   22       boxing       7         2.0   8.0
2       Mohit   25        dance      10         0.0   0.0
3      Prerit   20    badminton       8         0.0   0.0
4       Lucky   20      cricket      10         1.0   8.0
5     Prateek   22    badminton       4         1.0   5.0
6     AAshish   21      cricket       7         3.0   9.0
7      Akshat   21  photography       7         2.0   8.0
8       Punit   19    badminton      10         0.0   0.0
9        Deep   20       gaming       9         1.0   7.5
10    Shubhan   21      cricket      10         1.0   8.5
11     Vishwa   23     swimming       8         1.0   8.0
12    Aayushi   19      dancing       6         1.0   7.0
13    Anirudh   23     football       8         3.0   9.0
14    Ratnesh   21       gaming      10         0.5   5.0
15   Amarjeet   22  photography       9         1.0   9.0
16     Manish   21          gym       6         1.0   5.0
17      Ketan   22      cricket       7         2.0   7.5
18  Sudhanshu   22    traveling       6         2.0   7.0
19   Shivansh   19   basketball       9         1.0   9.0
20     Piyush   23      writing       8         5.0  10.0
21      Laksh   19      Reading       9         1.0   9.5
22     Anurag   21        Music       7         0.0   0.0
23     Aditya   22       Gaming      10         1.0   8.0

In [45]:
passion=dataset['Passion']

In [46]:
passion

0         dancing
1          boxing
2           dance
3       badminton
4         cricket
5       badminton
6         cricket
7     photography
8       badminton
9          gaming
10        cricket
11       swimming
12        dancing
13       football
14         gaming
15    photography
16            gym
17        cricket
18      traveling
19     basketball
20        writing
21        Reading
22          Music
23         Gaming
Name: Passion, dtype: object

In [47]:
dummy_hobbies=pd.get_dummies(passion)

In [48]:
dummy_hobbies

,Gaming,Music,Reading,badminton,basketball,boxing,cricket,dance,dancing,football,gaming,gym,photography,swimming,traveling,writing
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
10,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
12,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
19,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
21,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
result = pd.concat([dummy_hobbies,dataset ], axis=1,join='inner')

In [50]:
final_result=result.drop(['Passion','Y','Name'], axis=1)

In [51]:
final_result

,Gaming,Music,Reading,badminton,basketball,boxing,cricket,dance,dancing,football,gaming,gym,photography,swimming,traveling,writing,Age,Rating,HoursSpent
0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,19,8,0.0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,22,7,2.0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,25,10,0.0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,20,8,0.0
4,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,20,10,1.0
5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,22,4,1.0
6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,21,7,3.0
7,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,21,7,2.0
8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,19,10,0.0
9,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,20,9,1.0
10,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,21,10,1.0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,23,8,1.0
12,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,19,6,1.0
13,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,23,8,3.0
14,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,21,10,0.5
15,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,22,9,1.0
16,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,21,6,1.0
17,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,22,7,2.0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,22,6,2.0
19,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,19,9,1.0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,23,8,5.0
21,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,19,9,1.0
22,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,21,7,0.0
23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,22,10,1.0

In [52]:
Y=dataset['Y']

In [53]:
Y

0      0.0
1      8.0
2      0.0
3      0.0
4      8.0
5      5.0
6      9.0
7      8.0
8      0.0
9      7.5
10     8.5
11     8.0
12     7.0
13     9.0
14     5.0
15     9.0
16     5.0
17     7.5
18     7.0
19     9.0
20    10.0
21     9.5
22     0.0
23     8.0
Name: Y, dtype: float64

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(final_result, Y,test_size=0.40, random_state=10)

In [56]:
print(X_train,X_test,y_train,y_test)

    Gaming  Music  Reading  badminton  basketball  boxing  cricket  dance  \
22       0      1        0          0           0       0        0      0
6        0      0        0          0           0       0        1      0
18       0      0        0          0           0       0        0      0
10       0      0        0          0           0       0        1      0
20       0      0        0          0           0       0        0      0
23       1      0        0          0           0       0        0      0
8        0      0        0          1           0       0        0      0
19       0      0        0          0           1       0        0      0
16       0      0        0          0           0       0        0      0
17       0      0        0          0           0       0        1      0
0        0      0        0          0           0       0        0      0
15       0      0        0          0           0       0        0      0
4        0      0        0          0           0       0        1      0
9        0      0        0          0           0       0        0      0

    dancing  football  gaming  gym  photography  swimming  traveling  writing  \
22        0         0       0    0            0         0          0        0
6         0         0       0    0            0         0          0        0
18        0         0       0    0            0         0          1        0
10        0         0       0    0            0         0          0        0
20        0         0       0    0            0         0          0        1
23        0         0       0    0            0         0          0        0
8         0         0       0    0            0         0          0        0
19        0         0       0    0            0         0          0        0
16        0         0       0    1            0         0          0        0
17        0         0       0    0            0         0          0        0
0         1         0       0    0            0         0          0        0
15        0         0       0    0            1         0          0        0
4         0         0       0    0            0         0          0        0
9         0         0       1    0            0         0          0        0

    Age  Rating  HoursSpent
22   21       7         0.0
6    21       7         3.0
18   22       6         2.0
10   21      10         1.0
20   23       8         5.0
23   22      10         1.0
8    19      10         0.0
19   19       9         1.0
16   21       6         1.0
17   22       7         2.0
0    19       8         0.0
15   22       9         1.0
4    20      10         1.0
9    20       9         1.0       Gaming  Music  Reading  badminton  basketball  boxing  cricket  dance  \
5        0      0        0          1           0       0        0      0
1        0      0        0          0           0       1        0      0
7        0      0        0          0           0       0        0      0
2        0      0        0          0           0       0        0      1
11       0      0        0          0           0       0        0      0
12       0      0        0          0           0       0        0      0
21       0      0        1          0           0       0        0      0
13       0      0        0          0           0       0        0      0
14       0      0        0          0           0       0        0      0
3        0      0        0          1           0       0        0      0

    dancing  football  gaming  gym  photography  swimming  traveling  writing  \
5         0         0       0    0            0         0          0        0
1         0         0       0    0            0         0          0        0
7         0         0       0    0            1         0          0        0
2         0         0       0    0            0         0          0        0
11        0         0       0    0            0         1          0        0
12        1         0       0    0            0         0          0        0
21        0         0       0    0            0         0          0        0
13        0         1       0    0            0         0          0        0
14        0         0       1    0            0         0          0        0
3         0         0       0    0            0         0          0        0

    Age  Rating  HoursSpent
5    22       4         1.0
1    22       7         2.0
7    21       7         2.0
2    25      10         0.0
11   23       8         1.0
12   19       6         1.0
21   19       9         1.0
13   23       8         3.0
14   21      10         0.5
3    20       8         0.0   22     0.0
6      9.0
18     7.0
10     8.5
20    10.0
23     8.0
8      0.0
19     9.0
16     5.0
17     7.5
0      0.0
15     9.0
4      8.0
9      7.5
Name: Y, dtype: float64 5     5.0
1     8.0
7     8.0
2     0.0
11    8.0
12    7.0
21    9.5
13    9.0
14    5.0
3     0.0
Name: Y, dtype: float64

In [57]:
model=LinearRegression()

In [58]:
mymodel=model.fit(X_train,y_train)

In [59]:
y_test

5     5.0
1     8.0
7     8.0
2     0.0
11    8.0
12    7.0
21    9.5
13    9.0
14    5.0
3     0.0
Name: Y, dtype: float64

In [60]:
y_pred=mymodel.predict(X_test)

In [61]:
from sklearn import metrics

In [62]:
metrics.mean_absolute_error(y_test,y_pred)

3.7212121212121176

In [17]:
for i in range(10):
    for j in range(1):
        print('vv')

vv
vv
vv
vv
vv
vv
vv
vv
vv
vv

In [18]:
def text_to_morse(text):
    morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.', 'G': '--.', 'H': '....', 'I': '..', 'J': '.---',
        'K': '-.-', 'L': '.-..', 'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.', 'S': '...', 'T': '-',
        'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-', 'Y': '-.--', 'Z': '--..',
        '0': '-----', '1': '.----', '2': '..---', '3': '...--', '4': '....-', '5': '.....', '6': '-....', '7': '--...', '8': '---..', '9': '----.'
    }

    morse_text = ''
    for char in text.upper():
        if char in morse_code:
            morse_text += morse_code[char] + ' '

    return morse_text.strip()

text = input("Enter the text to convert to Morse code: ")
morse = text_to_morse(text)
print("Morse code:", morse)

Enter the text to convert to Morse code: Hello there
Morse code: .... . .-.. .-.. --- - .... . .-. .